.site-footer {
    background-color: #8f0202e0; 
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    font-size: 0.9rem;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    margin-top: 4rem;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .home-button {
    background-color: #1b4696;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #13356f;
  }
  